
body {
    font-family:Arial, Helvetica, sans-serif;
    background:#343434;
    padding-left:30px;
    padding-right:30px;

}



.main {
    background:white;
}

#kyleimage {
    height:200px;
    width:150px;
    float:left;
    margin-right:10px;
    margin-left:10px;
}

#wchriimage {
    height:150px;
    width:150px;
    float:right;
    margin-right:10px;
    margin-left:10px;
}

#uofaimage {
    height:150px;
    width:150px;
    float:left;
    margin-right:10px;
    margin-left:10px;
}


span p {
    display:inline;
    
}


.sidebar {
    float: right;
    background: #dadfe3;
    text-align: center;
    padding:25px;
    margin-right:10px;
}

.title {
    background:radial-gradient(#22a6c4,#016597);
}
h1 {
    font-size:72px;
    text-align:center;
    
    background:-webkit-linear-gradient(white,#f5f395);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}