
body {
    font-family:Arial, Helvetica, sans-serif;
    padding-left:50px;
    padding-right:50px;
    background:#343434;
}

#topbar {
    width:100%;
    height:50px;
    object-fit:cover;
    display:inline-flex;
}

.main {
    background:white;
}

#kyleimage {
    height:200px;
    width:150px;
    float:left;
    margin-right:10px;
    margin-left:10px;
}

#wchriimage {
    position:relative;

    top: -25px;
    left:25px;
    height:100px;
    width:100px;
    float:right;
    margin-right:80px;
    margin-left:30px;
    margin-bottom:300px;
}

#uofaimage {
    position:relative;
    top:20px;
    height:140px;
    width:140px;
    float:left;
    margin-left:10px;
}


span p {
    display:block;
    margin-left:40px;
    
}


.sidebar {
    float: right;
    background: #dadfe3;
    text-align: center;
    padding:10px;
    margin-right:10px;
    margin-top:10px;
}

.title {
    background:radial-gradient(#22a6c4,#016597);
}
h1 {
    margin:0;
    font-size:72px;
    text-align:center;
    background:-webkit-linear-gradient(white,#f5f395);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2:not(.sidebar-title) {
    margin-left:39px;
}